* {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
 
body {
    background-color:#ebebfe
}


.kart {
  width: 180px;
  border: 1px solid #1E1E1E;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 0 5px #706988;
  display: inline-block;
  text-align: center;
  background-color: #c6c1d3 ;
}

h3 {
  line-height: 18px;
}

p {
  line-height: 0px;
}

.pahali {
  background: #706988;;
}

.kart img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}